@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.content{
  border: 2px solid black;
  height: 80vh;
  width: 40vw;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}


.head{
  height: 15%;
  display: flex;
  justify-content: center;
}

.form{
  height: 100%;
  width: 100%;
}


.main{
  display: flex;
  justify-content: center;
  height: 70%;
  /* border: 2px solid brown; */
}

.container{
  height: 100%;
  width: 25vw;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city{
  /* border: 2px solid purple; */
  height: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 3.5rem;
}

.temp{
  /* border: 2px solid black; */
  display: flex;
  height: 25%;
  font-size: 4.5rem;
  justify-content: center;
  align-items: center;
}
.sky{
  /* border: 2px solid blue; */
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
}

.header{
  height: 15%;
  /* border: 2px solid yellow; */
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.icon{
  font-size: 6.5rem;
}